<!DOCTYPE html>
<html>
    <head>
        <title>Modmail Logviewer</title>
        <%- meta %>
        <link rel="stylesheet" href="../assets/welcome-style.css">
        <script src="../assets/script.js"></script>
    </head>
    <body>
        <div class="container">
            <label class="switch">
                <input type="checkbox" id="darkmode" onclick="toggleDarkMode()">
                <span class="slider round"></span>
            </label>
            <br>
            <div class="welcomeInfo text">
                <%- image %>
                <h1 class="text">Couldn't find log with id <%- log_id %></h1>
                <p class="subtext">Please go to /logs/log_id to view logs, OR</p>
                <br>
                <br>
                <input type="text" id="ticketId" class="gototicket" placeholder="Input a ticket ID">
                <br>
                <button onclick="goToTicket()">To go ticket</button>
            </div>
        </div>
    </body>
</html>